---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/image6.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/image6.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/image6.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/about1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/about1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about1.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    At Triple Kay Demolition, we don’t just tear things down — we make space for new beginnings. With over 5 years of collective expertise across Toronto and the GTA, we’ve built a reputation for providing reliable and efficient demolition services. From complete interior demolitions to exterior dismantling and post-renovation clean-ups, we handle every project with precision and care.
                </p>
                <p class="cs-text">
                    We pride ourselves on being dependable, ensuring every project is completed on time and within budget. Our commitment to safety, professionalism, and customer satisfaction is what sets us apart. Whether it’s a home renovation or a large commercial site, we guarantee a clean, safe, and ready-to-build space for the next chapter.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        At Triple Kay Demolition, we believe every project is a new beginning. We’re dedicated to doing the job right, ensuring our clients are always ready for their next steps.
                    </p>
                    <span class="cs-name">Kingsley Appiah</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/project-one" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}