---
title: 'Professional & Reliable Demolition Company | Triple Kay Demolition | Toronto, ON'
description: 'Need expert demolition services you can trust? At Triple Kay Demolition, we deliver fast, safe, and hassle-free demolitions in Toronto—on time and on budget. Contact us today to get the job done right!'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1060">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Professional & Reliable Demolition Company</h1>
            <p class="cs-text">
                From precision interior demolition to full-scale exterior tear-downs, we ensure your project stays on time, on budget, and hazard-free
            </p>
            <a href="/contact" class="cs-button-solid">Start Your Demo Work</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/hammer.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Interior Demolition</h3>
                <p class="cs-item-text">
                    Need a fresh start inside? We expertly remove walls, floors, and fixtures with zero damage to surrounding areas, ensuring your space is renovation-ready—fast and hassle-free.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/demo.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Exterior Demolition</h3>
                <p class="cs-item-text">
                    Trust our team to safely demolish entire buildings or exterior structures, handling even the toughest jobs with precision, speed, and full compliance. Get your site cleared for your next big project.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/broom.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Post-Renovation Clean-Up</h3>
                <p class="cs-item-text">
                    We don't just demolish, we leave your site spotless. Say goodbye to debris and mess—our thorough clean-up ensures your project stays on track without delays.
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/image3.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/image3.jpg">
        <img decoding="async" src="/assets/images/image3.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>


<section id="sbs-1982">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Residential & Commercial Demolition company located in Toronto, On</h2>
            <p class="cs-text-large">At Triple Kay Demolition, our story is one of dedication, expertise, and a passion for transforming spaces with precision and care.</p>
            <p class="cs-text">
                From meticulous interior removals to robust exterior demolitions and thorough post-renovation clean-ups, we handle every aspect with professionalism and a focus on exceeding your expectations. Partner with Triple Kay Demolition and experience a hassle-free process with results that speak for themselves.<br>
                <br>Discover our story, team, and values on our About Us page for a deeper insight into our commitment to exceptional quality and client satisfaction.
            </p>
            <a class="cs-button-solid" href="/about">Learn More About Us</a>
            <div class="cs-ratings">
                <div class="cs-stars">
                    <img alt="star" decoding="async" height="24" src="/assets/svgs/star.svg" width="24" aria-hidden="true" loading="lazy" class="cs-star">
                    <img alt="star" decoding="async" height="24" src="/assets/svgs/star.svg" width="24" aria-hidden="true" loading="lazy" class="cs-star">
                    <img alt="star" decoding="async" height="24" src="/assets/svgs/star.svg" width="24" aria-hidden="true" loading="lazy" class="cs-star">
                    <img alt="star" decoding="async" height="24" src="/assets/svgs/star.svg" width="24" aria-hidden="true" loading="lazy" class="cs-star">
                    <img alt="star" decoding="async" height="24" src="/assets/svgs/star.svg" width="24" aria-hidden="true" loading="lazy" class="cs-star">
                </div>
                <div class="cs-rating">
                    <h3 class="cs-h3">100% Customer Satisfaction</h3>
                    <p class="cs-rating-text">based on our satisfied client’s reviews of our completed projects</p>
                </div>
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/images/image1.jpg" type="image">
                <source media="(min-width: 601px)" srcset="//assets/images/image1.jpg" type="image">
                <img alt="metal fabrication service example" decoding="async" height="743" src="/assets/images/image1.jpg" width="630" aria-hidden="true" loading="lazy">
            </picture>
            <div class="cs-box">
                <span class="cs-desc">5+</span>
                <p class="cs-box-text">Years of Collective Experience</p>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1897">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Gallery</span>
                <h2 class="cs-title">Witness The Difference and Our Results</h2>
            </div>
            <a class="cs-button-solid" href="/project-one">View Full Gallery</a>
        </div>
        <!--Gallery-->
        <div class="cs-gallery">
            <div class="cs-item">
                <p class="cs-item-text">Dry Wall Demolition</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/before1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/before1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/before1.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/after1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/after1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/after1.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Fireplace Demolition/Removal</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/before2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/before2.jpg">
                        <img loading="lazy" decoding="async" src="h/assets/images/before2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/after2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/after2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/after2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            
        </div>
    </div>
</section>
                                
                                
    



<section id="sbsr-1207">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/image11.jpg" type="image">
                <source media="(min-width: 601px)" srcset="/assets/images/image11.jpg" type="image">
                <img alt="metal fabrication service example" decoding="async" height="793" src="/assets/images/image11.jpg" width="690" aria-hidden="true" loading="lazy">
            </picture>
            <div class="cs-box">
                <img alt="icon" decoding="async" height="48" src="/assets/svgs/people.svg" width="48" aria-hidden="true" loading="lazy" class="cs-box-icon">
                <span class="cs-box-header">10</span>
                <ul class="cs-box-ul">
                    <li class="cs-box-li">Expert Craftsmen on Our Team</li>
                </ul>
            </div>
            <div class="cs-stat">
                <img alt="icon" decoding="async" height="48" src="/assets/svgs/badge.svg" width="48" aria-hidden="true" loading="lazy" class="cs-stat-icon">
                <span class="cs-number">100+</span>
                <span class="cs-desc">Custom Projects Completed</span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us?</span>
            <h2 class="cs-title">Our Commitment to Excellence is Reflected in Our Work</h2>
            <p class="cs-text">We don’t just complete projects; we elevate them. From the moment we start with a detailed consultation to the final, immaculate clean-up, our team goes above and beyond to ensure a smooth, hassle-free process. We’re not satisfied until your expectations are exceeded and your vision is realized.</p>
            <p class="cs-text">With years of hands-on expertise in both residential and commercial demolition, we’ve honed our skills to tackle projects of any size with exceptional precision and efficiency.</p>
            <div class="cs-content-flair">
                <ul class="cs-ul">
                    <li class="cs-li">Reliable and On-Time</li>
                    <li class="cs-li">Proven Expertise</li>
                    <li class="cs-li">Fully Licensed and Insured</li>
                    <li class="cs-li">Local Trust</li>
                    <li class="cs-li">Safety First</li>
                </ul>
                <picture class="cs-video-link">
                    <img alt="metal fabrication service example" decoding="async" height="160" src="/assets/images/image10.jpg" width="271" aria-hidden="true" loading="lazy" class="cs-video-bg">
                </picture>
            </div>
            <a class="cs-button-solid" href="/contact">Contact Us</a>
        </div>
    </div>
</section>


<section id="why-choose-1657">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Mission</span>
                <h2 class="cs-title">Our Mission</h2>
            </div>
            <ul class="cs-ul">
                <li class="cs-li">
                    <p class="cs-li-text">AAt Triple Kay Demolition, we are dedicated to transforming your demolition needs into a seamless, stress-free experience. Our mission is to deliver top-quality results with a sharp focus on precision, safety, and client satisfaction. Regardless of the project size, we view each undertaking as an opportunity to showcase our expertise and unwavering commitment. Our ultimate goal is not just to meet but to exceed your expectations, ensuring timely completion and a remarkably smooth process.</p>
                </li>
            </ul>
        </div>
        <div class="cs-wrapper">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/image6.jpg" type="image">
                <source media="(min-width: 601px)" srcset="/assets/images/image6.jpg" type="image">
                <img alt="metal fabrication service example" decoding="async" height="477" src="/assets/images/image6.jpg" width="630" aria-hidden="true" loading="lazy">
            </picture>
            <p class="cs-review">
                <img alt="icon" decoding="async" height="32" src="/assets/svgs/quote.svg" width="32" aria-hidden="true" loading="lazy" class="cs-quote">
                Their team was reliable, finished on schedule, and maintained high quality throughout. They truly stand by their word, making the entire process smooth and worry-free. Highly recommend for dependable service! <span class="cs-name">Jessica R</span>
            </p>
        </div>
    </div>
</section>



  


    {% include 'components/cta.html' %}
{% endblock %}